# Bool

In [1]:
bool()

False

In [2]:
True

True

In [3]:
False

False

In [13]:
str="Wasim Akram"

print(str.startswith('W'))

True

# Boolean and Logical operator

AND Operator

In [19]:
False and False

False

In [20]:
False and True

False

In [21]:
True and False

False

In [22]:
True and True

True

OR operator

In [23]:
False or False

False

In [24]:
False or True

True

In [25]:
True or False

True

In [26]:
True or True

True

# LIST

In [28]:
lst=[]

In [29]:
type([])

list

In [30]:
lst=list()

In [32]:
type(lst)

list

In [129]:
lst=['Mathematics','Mahine','100','200','300']

In [130]:
lst

['Mathematics', 'Mahine', '100', '200', '300']

Append elemnt

In [131]:
lst.append("wasim")

In [132]:
lst

['Mathematics', 'Mahine', '100', '200', '300', 'wasim']

In [133]:
lst.append("akram")

In [134]:
lst

['Mathematics', 'Mahine', '100', '200', '300', 'wasim', 'akram']

In [135]:
len(lst)

7

# Indexing and slicing

In [136]:
lst[0]

'Mathematics'

In [137]:
lst[-1]

'akram'

In [141]:
lst[-2:-1:]

['wasim']

In [50]:
lst[-3]

'300'

Property of List in built function

In [52]:
lst.copy()

['Mathematics', 'Mahine', '100', '200', '300', 'wasim', 'akram']

In [53]:
lst

['Mathematics', 'Mahine', '100', '200', '300', 'wasim', 'akram']

In [161]:
lst.append('100')

TypeError: append() takes exactly one argument (2 given)

In [58]:
lst

['Mathematics', 'Mahine', '100', '200', '300', 'wasim', 'akram', '100']

In [144]:
lst.count('200')

1

In [145]:
lst.remove('100')

In [146]:
lst

['Mathematics', 'Mahine', '200', '300', 'wasim', 'akram']

In [153]:
lst.extend([[200,350]])

In [154]:
lst.

['0',
 '0',
 '200',
 '300',
 '5',
 'Mahine',
 'Mathematics',
 'akram',
 'wasim',
 200,
 350,
 [200, 350]]

In [148]:
lst.sort()

In [156]:
lst.insert(1,200)

In [157]:
lst.remove('5')

In [159]:
lst.reverse()

In [160]:
lst

[[200, 350],
 350,
 200,
 'wasim',
 'akram',
 'Mathematics',
 'Mahine',
 '300',
 '200',
 '0',
 200,
 '0']

In [164]:
 m=[1,2,3,4,5]

In [165]:
sum(m)

15

In [166]:
max(m)

5

In [167]:
min(m)

1

# SET

In [170]:
s={1,2,3,4,4,5}

In [171]:
s

{1, 2, 3, 4, 5}

In [172]:
s.difference

In [173]:
s

{1, 2, 3, 4, 5}

Indexing not possible

In [174]:
s.add(6)

In [183]:
s

{1, 2, 3, 4, 5, 6}

In [184]:
s1={6,5,9,8,7,3}

In [187]:
s1.difference(s) #show the diffrence element but not update in set...for getting new s1 which contain only differ value we need to update

{7, 8, 9}

In [188]:
s1.difference_update(s)

In [189]:
s1

{7, 8, 9}

In [191]:
s1.isdisjoint(s)

True

In [192]:
s1.issubset(s)

False

In [193]:
s1.symmetric_difference(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [194]:
s1.symmetric_difference_update(s)

In [195]:
s1.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Dictionary

In [3]:
d={'key1':'value1','key2':'value2','key3':'value3'}

In [4]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [5]:
d['key1']

'value1'

In [6]:
#accessing using key 
for x in d:
    print(x)

key1
key2
key3

In [8]:
##accessing using values
for x in d.values():
    print(x)

value1
value2
value3

In [10]:
#adding new key and value

d['key4']='value4'
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [11]:
#updating and replacing value with new vlaue

d['key1']='wasim'

In [12]:
d

{'key1': 'wasim', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [14]:
#Nested dictionary

c1={'key1': 'value1'}
c2={'key2': 'value2'}

e={'d2':c1,'d1':c2}

In [15]:
e

{'d2': {'key1': 'value1'}, 'd1': {'key2': 'value2'}}

In [22]:
e['d2']['key1']

'value1'